.row1{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 12px;
     position: relative;
     width: 98%;
 }
 .login-text{
     font-family: 'Playfair Display',serif!important;
     font-size: 3rem;
 }
 #login_f{
     display: flex;
     position: relative;
     padding:35px 80px 0 90px;
     justify-content:space-around;
 }
 .top-row{
     display: flex;
     position: relative;
 }
 .text-danger{
     color: red;
 }
 .login_inputs{
     padding: 10px;
 }
 .login_inputs select{
     width: 50px;
     height: 35px;
 }
 .login_inputs input{
     width: 150px;
     height: 30px;
     text-align: center;
 }
 .login_C input{
     width: 410px;
     height: 35px;
     margin: 3px 0px 20px 0px;
     border: 1px solid #0098df;
     border-radius: 4px;
 }
 .sBtn{
     padding:10px;
     width:180px;
     height: 40px;
     border: 1px solid black;
     float: right;
     margin-right:30px;
     background-color: transparent;
     border-radius: 5px;
     margin: 10px;
     font-family: arial;
 }